h4{
    margin-left: 30%;
  }
body{
    background-image: url('https://media.discordapp.net/attachments/874266553716178964/876707815861915708/unknown.png?width=2000&height=1000');
    background-size: cover;

  }
.nav-tabs{
    background-color:rgba(0,0,0,0.5);
}
.nav-link{
    color: white;
}
.form-control{
    width: 20%;
}
.form-label{
    color: white;
}
.form-check-label{
color: white;
}