
.certificate__first > h3{
       flex: 3;
}

.certificate__second{

    flex: 3;
}

.certificate__details{
        margin-top: 1em;
            display: flex;
    flex-direction: column;
}
.certificate__details > p {
     text-transform: capitalize;
     margin-bottom: 0;
}