
.educational__first{
    margin-right: 7.4rem;
}
.educational__first > h3{
    width:250px;
}

.educational__row{
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    }

.educational__row__year{
    width: 160px;
}    

.educational__second{
    flex: 3;
}

.educational__course{
    font-weight:700;
    text-transform: uppercase;
}

.educational__schoolCollege{
    text-transform: capitalize;
    margin-bottom: 0;
}

.educational__row__details >p:first-child{
    margin-bottom: 4px;
}